/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  5. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  6. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  7. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
  8. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

body,
html {
  background-color: #fefae0;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  width: 100%;
}

button {
  cursor: pointer;
}

header {
  padding: 25px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: rgba(122, 94, 65, 0.3) 0px 1px 2px 0px,
    rgba(122, 94, 65, 0.15) 0px 1px 3px 1px;
}

#logo {
  width: 55%;
  max-width: 300px;
  display: inline;
  margin-bottom: 20px;
}

#searchBookForm {
  display: none;
  gap: 5px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#bookTitleInp,
#bookAuthInp,
#bookPageInp {
  background-color: #fefae0;
  border: 2px solid #d4a373;
  border-radius: 4px;
  padding-left: 4px;
  color: rgb(122, 94, 65);
}

#bookPageInp {
  width: 55px;
}

#newBookBtn,
#addBookBtn {
  border: 2px solid #d4a373;
  border-radius: 4px;
  background-color: #fefae0;
  padding: 2.5px 10px;
  color: #d4a373;
  font-weight: bold;
}

#newBookBtn:hover,
#addBookBtn:hover {
  background-color: #d4a373;
  border-color: #fefae0;
  color: #fefae0;
}

#shelf {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.book {
  width: 100%;
  height: 50px;
  padding: 60px 0;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: rgb(122, 94, 65);
}

.bookBtns {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

h2 {
  max-width: 100px;
  text-align: center;
}

.deleteBtn {
  color: darkred;
  cursor: pointer;
  transition: 0.2s all;
}

.deleteBtn:hover {
  transform: scale(1.1);
  color: red;
}
